@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

@{
    List<string> Sections =
            new() { "Feedbacks","Banners", "News", "Interactives", "Services", "Questions", "Documents", "Leaderships", "Departments", };

    bool IsActiveRoute(string section)
    {
        return this.ViewContext.RouteData.Values["controller"].ToString() == section;
    }
}

<html lang="en">


<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - rtmcuz</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/icons.css" asp-append-version="true" />

<!-- Bootstrap Icons -->
<link rel="stylesheet" href="/path/to/cdn/bootstrap-icons.min.css" />
@await RenderSectionAsync("Styles", required: false)

<header>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3 justify-content-between">
            <div class="header-logo">
                <a href="/dashboard">
                    <img src="~/img/telegram-cloud-document-2-5300996950533872448 1.svg" class="logo-img" />
                </a>
            </div>
            <ul class="menu_box m-2">
                @foreach (var sectionName in Sections)
                {
                    <li class="menu_item">
                        <a asp-controller=@sectionName asp-action="Index" class=@(IsActiveRoute(sectionName) ? "active" :
                        "")>@sectionName</a>
                    </li>
                }
            </ul>
            <div class="header-top-right">
                <partial name="_Culture" />
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        @UserManager.GetUserName(User)
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li>
                            <a class="dropdown-item" id="login" asp-area="Identity" asp-page="/Account/Logout"
                                asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/image-file.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/ckeditor5-build-classic/ckeditor.js"></script>
<script src="~/lib/ckeditor5-build-classic/ckeditor-custom.js"></script>
@await RenderSectionAsync("Scripts", required: false)
