<footer>
    <div class="container">
        <div class="footer-top">
            <div class="left">
                <div class="logo">
                    <img src="/img/telegram-cloud-document-2-5300996950533872448 1.svg" class="logo-img" alt="">
                </div>
                <div class="copy-right">
                    Copyright © Creatt Studios All rights reserved
                </div>
                <div class="social-media">
                    <a href="" class="social-media-link"><span class="ri-lg ri-twitter-fill"></span></a>
                    <a href="" class="social-media-link"><span class="ri-lg ri-facebook-fill"></span></a>
                    <a href="" class="social-media-link"><span class="ri-lg ri-instagram-fill"></span></a>
                </div>
            </div>
            <div class="right">
                <div class="column">
                    <a class="header-title">@sharedLocalizer["about_center"]</a>
                    <a asp-controller="Home" asp-action="Section" asp-route-slug="about-center"
                        class="title">@sharedLocalizer["about_center"]</a>
                    <a asp-controller="Home" asp-action="Section" asp-route-slug="history-of-center"
                        class="title">@sharedLocalizer["history_of_center"]</a>
                    <a asp-controller="Home" asp-action="Section" asp-route-slug="report"
                        class="title">@sharedLocalizer["report"]</a>
                </div>
                <div class="column">
                    <a class="header-title">@sharedLocalizer["about_center"]</a>
                    <a asp-controller="Home" asp-action="Section" asp-route-slug="leaderships"
                        class="title">@sharedLocalizer["leaderships"]</a>
                    <a asp-controller="Home" asp-action="Section" asp-route-slug="departments"
                        class="title">@sharedLocalizer["departments"]</a>
                    <a asp-controller="Home" asp-action="Section" asp-route-slug="vacancy"
                        class="title">@sharedLocalizer["vacancy"]</a>
                </div>
                <div class="column">
                    <a class="header-title">@sharedLocalizer["about_center"]</a>
                    <a asp-controller="Home" asp-action="Section" asp-route-slug="news"
                        class="title">@sharedLocalizer["news"]</a>
                    <a asp-controller="Home" asp-action="Section" asp-route-slug="documents"
                        class="title">@sharedLocalizer["documents"]</a>
                    <a asp-controller="Home" asp-action="Section" asp-route-slug="feedback"
                        class="title">@sharedLocalizer["feedback"]</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <div class="first-row">
                <img src="/img/image 12.png" alt="" class="img">
                <img src="/img/image 13.png" alt="" class="img">
                <div class="text">@sharedLocalizer["company_address_1"]
                </div>
            </div>
            <div class="subtitle">
                @sharedLocalizer["company_address_1"]
            </div>
        </div>
    </div>
</footer>