<ul class="menu__box">
    <li><a class="menu__item" href="/">@sharedLocalizer["home_page"]</a></li>
    <li><a asp-controller="Home" asp-action="Section" asp-route-slug="about-center" class="menu__item">@sharedLocalizer["about_center"]</a></li>
    <li><a asp-controller="Home" asp-action="Section" asp-route-slug="report" class="menu__item">@sharedLocalizer["report"]</a></li>
    <li><a asp-controller="Home" asp-action="Section" asp-route-slug="vacancy" class="menu__item">@sharedLocalizer["vacancy"]</a></li>
    <li><a asp-controller="Home" asp-action="Section" asp-route-slug="history-of-center" class="menu__item">@sharedLocalizer["history_of_center"]</a></li>
    <li><a asp-controller="Home" asp-action="Section" asp-route-slug="news" class="menu__item">@sharedLocalizer["news"]</a></li>
    <li><a asp-controller="Home" asp-action="Section" asp-route-slug="documents" class="menu__item">@sharedLocalizer["documents"]</a></li>
    <li><a asp-controller="Home" asp-action="Section" asp-route-slug="feedback" class="menu__item">@sharedLocalizer["feedback"]</a></li>
</ul>