@section Styles {
<link rel="stylesheet" href="~/lib/leaflet/leaflet.css" />
}
@model rtmcuz.Data.Models.Feedback

<div class="feedback">
    <div class="container">
        <div class="feedback-wrapper">
            <form action="feedback" method="post" class="feedback-form">
                <h3 class="title">@sharedLocalizer["connection"]</h3>
                <div class="form-control">
                    <label for="name">@sharedLocalizer["firstname_and_surname"]</label>
                    <input asp-for="Title" type="text" id="name" placeholder="Xyz Abc">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-control">
                    <label for="email">@sharedLocalizer["your_email"]</label>
                    <input asp-for="Email" type="text" id="email" placeholder="abcdef@email.com">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-control">
                    <label for="department">@sharedLocalizer["select_department"]</label>
                    <select asp-for="DepartmentId" id="department" asp-items=@ViewBag.Departments>
                        <option value="" selected disabled>@sharedLocalizer["departments"]</option>
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
                <div class="form-control">
                    <label for="reason">@sharedLocalizer["what_are_you_contacting_for"]?</label>
                    <textarea asp-for="Description" id="reason" cols="30" rows="10"
                        placeholder="@sharedLocalizer["text_of_the_appeal"]"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                @if (ViewBag.Success)
                {
                    <h4 class="success-message">@sharedLocalizer["success-sent-feedback"]</h4>
                }
                <button class="btn feedback-btn">@sharedLocalizer["connection"] <span
                        class="ri-xl ri-arrow-right-s-line"></span></button>
            </form>
            <div class="map" id="map"></div>
        </div>
        <div class="feedback-information">
            <div class="card">
                <div class="title">@sharedLocalizer["address"]:</div>
                <div class="subtitle">
                    @sharedLocalizer["company_address_1"]
                </div>
            </div>
            <div class="card">
                <div class="title">@sharedLocalizer["email_address"]</div>
                <div class="subtitle">
                    mc@rtmc.uz, rtmc@exat.uz
                </div>
            </div>
            <div class="card">
                <div class="title">@sharedLocalizer["reception"]:</div>
                <div class="subtitle">
                    (998-71) 240-27-72
                </div>
            </div>
            <div class="card">
                <div class="title">@sharedLocalizer["telegramm_bot"]:</div>
                <div class="subtitle">
                    @("@uztbmbot")
                </div>
            </div>
            <div class="card">
                <div class="title">@sharedLocalizer["web_site"]:</div>
                <div class="subtitle">
                    www.rtmc.uz
                </div>
            </div>
            <div class="card">
                <div class="title">@sharedLocalizer["fax"]:</div>
                <div class="subtitle">
                    (71) 240-54-19
                </div>
            </div>
        </div>
        @await Html.PartialAsync("SocialMedia")
    </div>
</div>

@section Scripts {
<script src="~/lib/leaflet/leaflet.js"></script>
<script src="~/lib/leaflet/leaflet-custom.js"></script>
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

}