@section Styles {
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css" />
}

<div class="feedback">
    <div class="container">
        <div class="feedback-wrapper">
            <form action="" class="feedback-form">
                <h3 class="title">@sharedLocalizer["connection"]</h3>
                <div class="form-control">
                    <label for="name">@sharedLocalizer["firstname_and_surname"]</label>
                    <input type="text" id="name" name="name" placeholder="Xyz Abc">
                </div>
                <div class="form-control">
                    <label for="email">@sharedLocalizer["your_email"]</label>
                    <input type="text" id="email" name="email" placeholder="abcdef@email.com">
                </div>
                <div class="form-control">
                    <label for="department">@sharedLocalizer["select_department"]</label>
                    <select name="department" id="department">
                        <option value="" selected>abcdefgh</option>
                    </select>
                </div>
                <div class="form-control">
                    <label for="reason">@sharedLocalizer["what_are_you_contacting_for"]?</label>
                    <textarea name="reason" id="reason" cols="30" rows="10" placeholder=""></textarea>
                </div>
            </form>
            <div class="map" id="map"></div>
        </div>
        <div class="feedback-information">
            <div class="card">
                <div class="title">@sharedLocalizer["address"]:</div>
                <div class="subtitle">
                    @sharedLocalizer["company_address_1"]
                </div>
            </div>
            <div class="card">
                <div class="title">@sharedLocalizer["email_address"]</div>
                <div class="subtitle">
                    mc@rtmc.uz, rtmc@exat.uz
                </div>
            </div>
            <div class="card">
                <div class="title">@sharedLocalizer["reception"]:</div>
                <div class="subtitle">
                    (998-71) 240-27-72
                </div>
            </div>
            <div class="card">
                <div class="title">@sharedLocalizer["telegramm_bot"]:</div>
                <div class="subtitle">
                    @("@uztbmbot")
                </div>
            </div>
            <div class="card">
                <div class="title">@sharedLocalizer["web_site"]:</div>
                <div class="subtitle">
                    www.rtmc.uz
                </div>
            </div>
            <div class="card">
                <div class="title">@sharedLocalizer["fax"]:</div>
                <div class="subtitle">
                    (71) 240-54-19
                </div>
            </div>
        </div>
        <div class="social-media-bottom">
            <a href=""><span class="ri-facebook-circle-fill"></span></a>
            <a href=""><span class="ri-twitter-line"></span></a>
            <a href=""><span class="ri-google-fill"></span></a>
            <a href=""><span class="ri-linkedin-box-fill"></span></a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/leaflet/leaflet.js"></script>
    <script src="~/lib/leaflet/leaflet-custom.js"></script>
}