@using System.Globalization
@model IEnumerable<Section>

<div class="news">
    <div class="container">
        <div class="news-wrapper">
            <div class="content">
                <div class="items">
                    @foreach (var item in Model)
                    {
                        <div class="news-item">
                            <img src="/uploads/@item.Image.Path" class="news-img">
                            <div class="date">@item.UpdatedDate?.ToString("MMM dd yyyy", CultureInfo.CurrentCulture)</div>
                            <a asp-action="NewsShow" asp-route-id=@item.Id class="title">@item.Title</a>
                            <div class="text">@Html.Raw(item.Content)</div>
                        </div>
                    }
                </div>
                @await Html.PartialAsync("Pagination", Model)

            </div>
            <div class="sidebar">
                <div class="last-news">
                    <h5 class="head-title">@sharedLocalizer["lastest_news"]</h5>
                    @foreach (var item in ViewBag.LastNews)
                    {
                        <div class="last-news-item">
                            <div class="news-img">
                                <img src="/uploads/@item.Image.Path" class="last-news-img">
                            </div>
                            <div class="right">
                                <a asp-action="NewsShow" asp-route-id=@item.Id class="title">@item.Title</a>
                                <div class="date">@item.UpdatedDate?.ToString("MMM dd yyyy", CultureInfo.CurrentCulture)
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @await Html.PartialAsync("SocialMedia")
            </div>
        </div>
    </div>
</div>