@using System.Globalization
@model Section

<div class="news">
    <div class="container">
        <div class="news-wrapper">
            <div class="content">
                <div class="show">
                    <h1>@Model.Title</h1>
                    <img src="/uploads/@Model.Image.Path" class="news-img">
                    <div class="date">@Model.UpdatedDate?.ToString("MMM dd yyyy", CultureInfo.CurrentCulture)</div>
                    <div class="text">@Html.Raw(Model.Content)</div>
                </div>
            </div>
            <div class="sidebar">
                <div class="last-news">
                    <h5 class="head-title">@sharedLocalizer["lastest_news"]</h5>
                    @foreach (var item in ViewBag.LastNews)
                    {
                        <div class="last-news-item">
                            <div class="news-img">
                                <img src="/uploads/@item.Image.Path" class="last-news-img">
                            </div>
                            <div class="right">
                                <a class="title">@item.Title</a>
                                <div class="date">@item.UpdatedDate?.ToString("MMM dd yyyy", CultureInfo.CurrentCulture)
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>