<section class="feedback-section">
    <div class="container">
        <h3 class="section-title">@sharedLocalizer["feedback"]</h3>
        <div class="sub-title">@sharedLocalizer["feedback_text_1"]</div>
        <form action="" class="feedback-form">
            <input type="text" id="email" class="feedback-input" placeholder="@sharedLocalizer["your_email"]">
            <input type="text" id="text-appeal" class="feedback-input" placeholder="@sharedLocalizer["text_of_the_appeal"]">
            <button class="btn feedback-btn">@sharedLocalizer["contact_us"] <span class="icon icon-arrow-right"></span></button>
        </form>
        <div class="contacts">
            <a href="" class="contact">
                <span class="icon icon-email"></span>
                <span class="contact-text"> tmc@rtmc.uz</span>
            </a>
            <a href="" class="contact">
                <span class="icon icon-phone-0"></span>
                <span class="contact-text"> (71) 240-27-72</span>
            </a>
            <a href="" class="contact">
                <span class="icon icon-phone-0"></span>
                <span class="contact-text"> (71) 240-54-19</span>
            </a>
        </div>
    </div>
</section>