@model IEnumerable<rtmcuz.Data.Models.Section>

<section class="interactive-services-section">
    <div class="container">
        <h3 class="section-title">@sharedLocalizer["interactive_services"]</h3>
        <div class="cards-grid">
            @foreach (var item in Model)
            {
                <a class="section-card" href="@item.Url">
                    <span class="@item.Icon"></span>
                    <h2 class="title">@item.Title</h2>
                    <div class="subtitle">
                        @item.Subtitle
                    </div>
                    <span class="details">@sharedLocalizer["more"]</span>
                </a>
            }
        </div>
    </div>
</section>
