<section class="our-services-section">
    <div class="container">
        <h3 class="section-title">@sharedLocalizer["our_services"]</h3>
        <div class="cards-grid">
            @foreach (var service in ViewBag.Services)
            {
                <div class="service-card">
                    <div class="wrapper">
                        <div class="img-wrapper">
                            <img src="/uploads/@service.Image.Path">
                        </div>
                    </div>
                    <div class="card-content">
                        <h5 class="card-title">@service.Title </h5>
                        <p class="card-subtitle">@service.Subtitle</p>
                        <a href="@service.Url" class="details">@sharedLocalizer["more"]</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>